.jq-modal-backdrop {
  position: absolute;
  z-index: 1100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  &.on {
    opacity: 0.6;
    visibility: visible;
    filter: alpha(opacity=60);
  }
  &.jq-modal-animate {
    transition: all 0.4s;
    transition-delay: 0.2s;
    &.on {
      transition-delay: 0s;
    }
  }
}

/*
 * ! MUST NOT BE MODIFIED !
 * used for centering
 */
.jq-modal-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  visibility: hidden;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  &.on {
    visibility: visible;
  }
}

/*
 * MODAL STYLING
 * can be customised
 */
.jq-modal-container {
  position: relative;
  z-index: 1110;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ccc;
  text-align: left;
  border-radius: 4px;
  background-color: #fff;
  visibility: hidden;
  &.on {
    visibility: visible;
  }
  &.jq-modal-animate {
    transition: all 0.4s;
    transition-delay: 0s;
    &.on {
      transition-delay: 0.2s;
    }
  }
}

/*
 * MODAL ANIMATIONS
 * available Modal animations
 * feel free to append your own
 */

/* fade */
.jq-modal-animate-fade {
  opacity: 0;
  &.on {
    opacity: 1;
  }
}

/* slide */
.jq-modal-animate-slide {
  opacity: 0;
  transform: translateY(-1000px);
  &.on {
    opacity: 1;
    transform: translateY(0);
  }
}
/* zoom */
.jq-modal-animate-zoom {
  opacity: 0;
  transform: scale(0);
  &.on {
    opacity: 1;
    transform: scale(1);
  }
}
